*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 1px solid black;
}

a{
    color: inherit;
}

.cont{
    width: 1200px;
    height: 700px;
}

header{
    width: 1200px;
    height: 100px;
}

.sec{
    width: 1200px;
    height: 300px;
}

footer{
    width: 1200px;
    height: 300px;
}