*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 1px solid black;
    margin: 0 auto;
    font-family: sans-serif;
}

a{
    color: inherit;
}

.cont{
    width: 1200px;
    height: 2000px;
}

header{
    width: 1200px;
    height: 100px;
    text-align: center;
}

header h3{
    width: 1200px;
    height: 50px;
}

header p{
    width: 1200px;
    height: 50px;
}

.sec{
    width: 1200px;
    height: 300px;
}

.profile{
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.profile img{
    width: 100px;
    height: 100px;
}

.nametext{
    width: 1200px;
    height: 100px;
}

.nametext h3{
    width: 1200px;
    height: 50px;
}

.nametext p{
    width: 100px;
    height: 50px;
    color: #f44;
}

.name{
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name p{
    height: 100px;
}

.param{
    height: 100px;
}

hr{
    width: 1200px;
    height: 10px;
}

.cptitle{
    text-align: left;
}

.cpdiv{
    width: 1200px;
    height: 200px;
}

.cp{
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cptext{
    height: 100px;
}

.cptext img{
    height: 50px;
}

.cptext p{
    height: 50px;
}

.cpbtn{
    width: 100px;
    height: 100px;
}

.cpbtn img{
    width: 100px;
    height: 100px;
}

.boontitle{
    text-align: left;
}

.boon{
    width: 1200px;
    height: 1100px;
}

.boon li{
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boonbtn{
    width: 50px;
    height: 50px;
}

.boonname{
    height: 100px;
}

footer{
    width: 1200px;
    height: 300px;
}

footer p{
    text-align: left;
}

.site{
    width: 50px;
    height: 50px;
}

.site a img{
    width: 50px;
    height: 50px;
}